body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #29067a, #000000);
  min-height: 100vh;
  color: #fff;
}


a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.music-container, .home, .detalhes {
  padding: 2rem;
}

input, button {
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

input {
  width: 200px;
}

button {
  background-color: #5f01d1;
  color: white;
  cursor: pointer;
}

.card {
  background-color: #1e1e1e;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #bb86fc44;
}
